.bg_content{
    --background: url(../../assets/imagenes_genericas/p16.jpeg)
}

.center_img{
    display: block;
    margin: auto;
    padding-bottom: 40px;
}

.first_grid{
    padding-top: 25%;
}

.tlt_paragraph{
    color: #55504b;
    font-weight: 700;
    text-align: center;
}
