<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="prelogin"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row >
      <ion-item class="item_size">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="user"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="item_size">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="login()">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
