<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Esta es la primera pantalla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cambio de color</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="first_tlt">Cosas</h1>

  <h1 class="second_tlt">Cosas</h1>
  <h1 class="first_tlt">Cosas</h1>
  <h1 class="second_tlt">Cosas</h1>
  <h1 class="first_tlt">Cosas</h1>

  <h1 id="con_id">Cosas</h1>
  <app-explore-container name="Cambio de color"></app-explore-container>
</ion-content>
