<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Esta es la primera pantalla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <ion-card>
    <img src="../../assets/imagenes_genericas/moon.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Astronomía</ion-card-subtitle>
      <ion-card-title>Luna</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vitae reprehenderit voluptas eos debitis delectus quia, labore distinctio. Modi, esse qui? Magnam atque voluptatum dolores veniam nemo id sapiente commodi!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/imagenes_genericas/sun.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Astronomia</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/97B5/production/_96873883_maxresdefault.jpg.webp" />
    <ion-card-header>
      <ion-card-subtitle>Astronomia</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

</ion-content>
