<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="prelogin"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> {{ product_name }}</h1>
  <h1> {{ product_id }}</h1>
  <app-cards icon_name="american-football-outline" text="texto 1" set_icon="true"></app-cards>
  <app-cards icon_name="airplane-outline"text="tesxto2" set_icon="true"></app-cards>
  <app-cards icon_name="balloon-outline"text="texto 3" set_icon="false"></app-cards>
  <app-cards icon_name="construct-outline"text="texto 4" set_icon="true"></app-cards>
  <app-cards icon_name="american-football-outline"text="texto 5" set_icon="true"></app-cards>

</ion-content>
